<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="fileSize">50 MB</Property>
        <Property name="maxFiles">100</Property>
        <Property name="log-dir">D:/devs/tmp</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="RollingFileAppender" fileName="${log-dir}/little-proxy.log" filePattern="${log-dir}/little-proxy_%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${fileSize}"/>
            </Policies>
            <DefaultRolloverStrategy max="${maxFiles}"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.cgi" level="debug" additivity="false">
            <AppenderRef ref="RollingFileAppender" />
        </Logger>
        <Logger name="org.eclipse.jetty" level="off"/>
        <Logger name="org.littleshoot.proxy" level="debug" additivity="false">
            <AppenderRef ref="RollingFileAppender" />
        </Logger>
        <!-- Root ==> Error -->
        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
